<section class="colophon">
    <section class="copyright"><span itemprop="copyrightHolder"><a href="{{@blog.url}}">&copy; {{@blog.title}}</a></span>. <span rel="license">All Rights Reserved</span>.</section>

</section>
<section class="bottom">
    <section class="poweredby attribution">
        <a class="icon-ghost" href="http://ghost.org"> Ghost under the hood </a> and <a href="http://github.com/Reedyn/Saga">theme adapted by Saga</a> | Built with <img src="{{asset "img/made-with-coffee.png"}}" alt="coffee" title="coffee" class="icon"></a>

    </section>

</section>
